/* CLIENTES*/

.container__img {
    width: 600px;


    &_galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    &_principal {
        width: 630px;
        height: 600px;
        object-fit: cover;
    }

    &1 {
        width: 545px;
        height: 300px;
        object-fit: cover;
    }

    &2 {
        width: 270px;
        height: 300px;
        object-fit: cover;
    }

    img:hover {
        scale: 1.05;
        transition: .5s;
    }

    /* Mixins */
    @include mobile-lg {
        width: 90%;

        &_galeria {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

        }

        &1 {
            width: 345px;
            height: 300px;
            object-fit: cover;
        }

        &2 {
            width: 170px;
            height: 300px;
            object-fit: cover;
        }

        &_principal {
            display: none;
        }
    }

    @include tableta {
        &_principal {
            display: none;
        }
    }

    @include desktop {
        &_principal {
            display: block;
        }
    }
}