.boton {
    font-family: 'Mulish', sans-serif;
    width: auto;
    padding: 3px 20px;
    border: none;
    background-color: black;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;

    &:hover {
        background-color: antiquewhite;
        color: black;
        box-shadow: 2px 1px 8px rgb(172, 172, 172);
    }
}

/* Boton tienda tarjetas */
.boton__tienda {
    margin: auto;
    width: 30%;
    height: 20px;
    border: none;
    background-color: black;
    color: #ffffff;
    border-radius: 15px;

    a {
        text-decoration: none;
        font-family: 'Mulish', sans-serif;
        font-size: 0.8rem;
        color: #ffffff;
    }
}